:root {
  --font-primary: #FFFFFF;
  --font-secondary: #121212;
  --bg-primary: #F7F7F7;
  --bg-secondary: #6A8BFF;
  --bg-card: #FFFFFF;
  --bg-alt: #6A8BFF20;
  --bg-primary-alt: #E0E0E0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-alt);
  display: flex;
  flex-direction: column;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--font-primary);
}

/* Styles for <Header/> component */
header {
  width: 100%;
  height: 80px;
  background-color: var(--bg-secondary);
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-style: italic;
}

.header__toggle {
  width: 80px;
  height: 32px;
  background: var(--bg-primary);
  border-radius: 24px;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

div {
  width: 100%;
}

/* Styles for <Deck/> component */
.deck__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 32px;
  flex-grow: 1;
}

.deck__button {
  width: 100%;
  height: 64px;
  background-color: var(--bg-secondary);
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  font-family: inherit;
  color: var(--font-primary);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.deck__empty {
  color: var(--font-secondary);
  font-size: 28px;
  font-weight: 600;
}

input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  opacity: 0;
}

input[type="checkbox"]:checked {
  background-color: blue;
}

.card__container:has(input:checked) {
  transform: rotateY(180deg);
}

/* Styles for <FlashCard/> component */
.card__container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #f7f7f7;
  border-radius: 16px;
  color: var(--font-secondary);
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  transform-style: preserve-3d;
  border: none;
  transition: transform 0.8s;
}

.card__container:hover {
  cursor: pointer;
}

.flip__forward {
  animation: forward 1s forwards;
}

.flip__backward {
  animation: backward 1s forwards;
}

.card__front, .card__back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.card__front {
  z-index: 2;
}

.card__back {
  transform: rotateY(180deg);
}

/* Styles for <DeckProgress/> component */
.progress__bar {
  width: 100%;
  height: 32px;
  background-color: var(--bg-alt);
  border-radius: 32px;
  overflow: clip;
}

.progress__bar__inside {
  height: 100%;
  background-color: var(--bg-secondary);
  border-radius: 32px;
}

.progress__text {
  margin: 8px 0 0 16px;
  color: var(--font-secondary);
  font-size: 14px;
  font-weight: 600;
}

/* Styles for <Form/> component */
h2 {
  color: var(--font-secondary);
  text-align: center;
  font-size: 28px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  background-color: white;
}

input {
  all: unset;
  width: 100%;
  height: 56px;
  background-color: var(--bg-primary-alt);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 16px;
  color: var(--font-secondary);
  margin-top: 4px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
}

label {
  font-size: 24px;
  color: var(--font-secondary);
  font-weight: 600;
}

li {
  all: unset;
}

.form__button {
  width: 100%;
  height: 64px;
  background-color: var(--bg-secondary);
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  font-family: inherit;
  color: var(--font-primary);
  margin-top: 32px;
  flex-shrink: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.form__button__disabled {
  opacity: 80%;
}

.cards__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 32px;
}

.cards__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__mini {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  padding: 16px;
  background-color: #E0E0E0;
  border-radius: 8px;
  color: var(--font-secondary);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
}

.card__mini > div p:first-child {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.card__mini > button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.card__mini > button:hover {
  cursor: pointer;
}

/** can I use relative rotations? */
@keyframes forward {
  from {
    transform: rotateY(0);

  } to {
    transform: rotateY(180deg);

  }
}

@keyframes backward {
  from {
    transform: rotateY(180deg);

  } to {
    transform: rotateY(360deg);

  }
}

@media screen and (min-width: 1024px) {

}